* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1020px;
    margin: 0 auto;
}

.section-header {
    position: relative;
    height: 95px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    display: flex;
    justify-content: space-between;
}

.logo {
    position: relative;
    padding: 41px 40px;
}

.logo__main {
    color: #ffffff;
    font-family: Lato;
    font-size: 25px;
    font-weight: 700;
    line-height: 6.32px;
    text-transform: uppercase;
    letter-spacing: -0.5px;
}

.logo__star {
    position: absolute;
    color: #f06c64;
    font-family: Lato;
    font-size: 25px;
}

.top-nav {
    color: #ffffff;
    font-family: Lato;
    font-size: 12px;
    font-weight: 700;
    line-height: 6.32px;
    text-transform: uppercase;
    margin-top: 46px;
    margin-right: 39px;
    letter-spacing: 0.1px;
}

.nav {
    display: flex;
}

.top-nav__item {
    margin-left: 28px;
    list-style: none;
}

.top-nav__item:hover {
    cursor: pointer;
    color: #f06c64;
    /* display: block; */
}

.section-slider {
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
    height: 600px;
}

.slider {
    display: flex;
    justify-content: space-between;
}

.slider-main {
    padding: 50px;
    width: 100%;
    text-align: center;
    position: relative;
}

.iphone-vertical {
    position: absolute;
    top: 53px;
    left: 47px;}

.iphone-horizontal {
    position: absolute;
    top: 174px;
    right: 49px;
}

.ctrl-left {
    margin-top: 285px;
    margin-left: 46px;
    width: 21px;
    height: 20px;
    border-left: 5px solid #ca4549;
    border-top: 5px solid #ca4549;
    border-radius: 2px;
    transform: rotate(-45deg);
}

.ctrl-left:hover {
    cursor: pointer;
    border-color: #b32d32;
}

.ctrl-right {
    margin-top: 285px;
    margin-right: 43px;
    width: 21px;
    height: 20px;
    border-right: 5px solid #ca4549;
    border-top: 5px solid #ca4549;
    border-radius: 2px;
    transform: rotate(45deg);
}

.ctrl-right:hover {
    cursor: pointer;
    border-color: #b32d32;
}

.section-services {
    height: 496px;
    padding: 40px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}

.services__title {
    margin-top: 28px;
    color: #666d89;
    font-family: "Lato";
    font-size: 30px;
    font-weight: 700;
    line-height: 17.86px;
}

.services__description {
    margin-top: 28px;
    color: #767e9e;
    font-family: Lato;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.15px;
}

.services {
    margin-top: 47px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.services-item {
    max-width: 299px;
    min-width: 290px;
    margin-bottom: 33px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.services-item__img {

}

.services-item__title {
    margin-left: 21px;
    color: #666d89;
    font-family: "Lato";
    font-size: 18px;
    font-weight: 700;
    line-height: 17.86px;
}

.services-item__description {
    margin-top: 9px;
    color: #767e9e;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
}