* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1020px;
    margin: 0 auto;
}

html {
    position: relative;
    scroll-behavior: smooth;
}

p {
    text-align: justify;
}   

a {
    color: inherit;
    text-decoration: none;
}

.section-header {
    position: relative;
    height: 95px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    display: flex;
    justify-content: space-between;
}

.logo-top {
    position: relative;
    padding: 41px 40px;
}

.logo-top__main {
    color: #ffffff;
    font-family: Lato;
    font-size: 25px;
    font-weight: 700;
    line-height: 7px;
    text-transform: uppercase;
    letter-spacing: -0.5px;
}

.logo__star {
    position: absolute;
    color: #f06c64;
    font-family: Lato;
    font-size: 25px;
}

.top-nav {
    color: #ffffff;
    font-family: Lato;
    font-size: 12px;
    font-weight: 700;
    line-height: 6.32px;
    text-transform: uppercase;
    margin-top: 46px;
    margin-right: 39px;
    letter-spacing: 0.1px;
}

.nav {
    display: flex;
}

.top-nav__item {
    margin-left: 28px;
    list-style: none;
}

.nav-selected {
    color: #f06c64;
    transition: all ease-out .5s;
}

.nav-no-selected {
    color: #ffffff;
    transition: all ease-out .5s;
}

.top-nav__item:hover {
    cursor: pointer;
    color: #f06c64;
}

.section-slider {
    position: relative;
    left: 100%;
    height: 58.4vw;
    max-height: 600px;
    text-align: center;
    transform: translate(-100%);
    left: 100%;
}

.slider {
    position: relative;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.slider-main {
    padding: 0 11%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    position: absolute;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
    height: 100%;
}

.slider-main__2 {
    position: absolute;
    width: 100%;
    /* left: -100%; */
    text-align: center;
    background-color: #648BF0;
    height: 600px;
}

.slider-item {
    display: none;
    animation: 0.7s ease-in-out;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.slider-active, .next {
    display: block;
}

.next {
    position: absolute;
    width: 100%;
}

.to-left {
    animation-name: left;
}

.to-right {
    animation-name: right;
    animation-direction: reverse;
}

.from-left {
    animation-name: left;
    animation-direction: reverse;
}

.from-right {
    animation-name: right;
}


@keyframes left {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}


@keyframes right {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}

.triple-phone {
    margin-top: 5%;
    position: relative;
    text-align: center;
}

.iphone-vertical {
    position: relative;
    width: 31%;
    margin-right: 9.2%;
}

.iphone-vertical__img {
    width: 100%;
}

.off-screen {
    width: 78.6%;
    height: 68.7%;
    top: 13.2%;
    left: 5.7%;
    border-radius: 3px;
    position: absolute;
    z-index: 10;
    background: black;
    opacity: 0;
    transition: opacity .35s ease;
}

.off-screen_horizontal {
    width: 69%;
    height: 77.5%;
    top: 5.4%;
    left: 12.3%;
}

.iphone-btn {
    position: absolute;
    width: 18%;
    height: 8.7%;
    top: 83.6%;
    left: 35.8%;
    background-color: #000;
    border-radius: 50%;
    opacity: 0;
} 

.iphone-btn_horizontal {
    height: 18%;
    width: 9%;
    top: 35.8%;
    left: 1.5%;
}

.iphone-horizontal {
    position: relative;
    width: 61%;
}

.iphone-horizontal__img {
    width: 100%;
}

.ctrl-left {
    position: absolute;
    margin-top: 28%;
    margin-left: 4.5%;
    width: 21px;
    height: 20px;
    border-left: 5px solid #ca4549;
    border-top: 5px solid #ca4549;
    border-radius: 2px;
    transform: rotate(-45deg);
    z-index: 10;
}

.ctrl-left:hover {
    cursor: pointer;
    border-color: #b32d32;
}

.ctrl-right {
    position: absolute;
    right: 0;
    margin-top: 28%;
    margin-right: 4.5%;
    width: 21px;
    height: 20px;
    border-right: 5px solid #ca4549;
    border-top: 5px solid #ca4549;
    border-radius: 2px;
    transform: rotate(45deg);
    z-index: 10;
}

.ctrl-right:hover {
    cursor: pointer;
    border-color: #b32d32;
}

.section-services {
    min-height: 499px;
    padding: 40px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}

.services__title {
    margin-top: 28px;
    color: #666d89;
    font-family: "Lato";
    font-size: 30px;
    font-weight: 700;
    line-height: 17.86px;
}

.services__description {
    margin-top: 28px;
    color: #767e9e;
    font-family: Lato;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.15px;
}

.services {
    margin-top: 47px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.services-item {
    max-width: 299px;
    min-width: 220px;
    margin-bottom: 33px;
    margin-right: 10px;
    overflow: hidden;
    max-height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.services-item__img {
    width: 59px;
    height: 59px;
}

.services-item__title {
    margin-left: 21px;
    color: #666d89;
    font-family: "Lato";
    font-size: 18px;
    font-weight: 700;
    line-height: 17.86px;
}

.services-item__description {
    margin-top: 9px;
    color: #767e9e;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
}

.portfolio {
    min-height: 710px;
    background-color: #2d303a;
    padding: 69px 40px 73px 40px;
    border-bottom: 6px solid #323746;
}

.portfolio__title {
    color: #666d89;
    font-family: "Lato";
    font-size: 30px;
    font-weight: 700;
    line-height: 17.86px;
}

.portfolio__subtitle {
    margin-top: 27px;
    margin-bottom: 10px;
    color: #767e9e;
    font-family: Lato;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}

.portfolio-btn {
    display: flex;
}

.portfolio-btn__item {
    height: 22px;
    margin-right: 10px;
    padding-left: 6px;
    padding-right: 7px;
    color: #767e9e;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    list-style: none;
    border: 1px solid #666d89;
    border-radius: 5px;
}

.portfolio-btn__item:hover {
    cursor: pointer;
    color: #dedede;
}

.portfolio-btn__item-active {
    color: #4f5671;
    background-color: #dedede;
    transition: 0.3s ease-out;
}

.portfolio-btn__item-active:hover {
    color: #4f5671;
}

.portfolio-btn__item-no-active {
    background-color: none;
    transition: 0.3s ease-out;
}

.portfolio-example {
    overflow: hidden;
    margin-top: 20px;
    max-height: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    
}

.portfolio-example__img {
    margin: 6px;
    transition: 0.2s ease-in;
    min-width: 220px;
    min-height: 188px;
    width: 23.2%;
    height: 23.2%;
}

.portfolio-example__img:hover {
    cursor: pointer;
}

.portfolio__img_order1 {
    order: 1;
}

.portfolio__img-selected {
    border: 5px solid #F06C64;
}

.portfolio__img-no-selected {
    border: none;
}

.aboutUs {
    padding: 7% 40px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #fff;
}

.team {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.team-item {
    width: 32%;
    max-width: 300px;
    min-width: 220px;
}

.team-item:not(:last-child) {
    margin-right: 2.1%;
}

.team__photo {
    width: 100%;
}

.team__title {
    margin-top: 14px;
    color: #666d89;
    font-family: "Lato";
    font-size: 18px;
    font-weight: 700;
    line-height: 17.86px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.team__subtitle {
    margin-top: 11px;
    color: #767e9e;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
}

.get-quote {
    padding: 68px 40px 20px 40px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.get-quote__title {
    color: #f0d8d9;
    font-family: 'Lato';
    font-size: 30px;
    font-weight: 800;
    line-height: 17.86px;
}

.get-quote__subtitle {
    margin-top: 27px;
    color: #f0d8d9;
    font-family: 'Lato';
    letter-spacing: 0.15px;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}

.form-contact {
    display: flex;
    margin-top: 45px;
}

.form {
    width: 619px;
}

.form__name {
    width: 100%;
    /* height: 38px; */
    padding: 8px 14px;
    margin-bottom: 16px;
    border: none;
    border-radius: 5px;
    background-color: #d6564f;
    color: #f0d8d9;
    font-family: 'Lato';
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
}

.form__name::placeholder {
    color: #f48c8f;
}

.form__name:hover {
    cursor: pointer;
    background-color: #c6413a;
    transition: 0.2s ease;
}

.form__email {
    width: 100%;
    height: 38px;
    margin-bottom: 17px;
    padding: 8px 14px;
    border: none;
    border-radius: 5px;
    background-color: #d6564f;
    color: #f0d8d9;
    font-family: 'Lato';
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
}

.form__email::placeholder {
    color: #f48c8f;
}

.form__email:hover {
    cursor: pointer;
    background-color: #c6413a;
    transition: 0.2s ease;
}

.form__subject {
    width: 100%;
    /* height: 38px; */
    margin-bottom: 17px;
    padding: 8px 14px;
    border: none;
    border-radius: 5px;
    background-color: #d6564f;
    color: #f0d8d9;
    font-family: 'Lato';
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
}

.form__subject::placeholder {
    color: #f48c8f;
}

.form__subject:hover {
    cursor: pointer;
    background-color: #c6413a;
    transition: 0.2s ease;
}

.form__description {
    width: 100%;
    height: 202px;
    padding: 8px 14px;
    margin-bottom: 16px;
    border: none;
    border-radius: 5px;
    background-color: #d6564f;
    color: #f0d8d9;
    resize: none;
    font-family: 'Lato';
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
}


.form__description:hover {
    cursor: pointer;
    background-color: #c6413a;
    transition: 0.2s ease;
}

.form__description::placeholder {
    color: #f48c8f;
}

.form__submit {
    width: 100%;
    /* height: 38px; */
    padding: 8px 14px;
    border: none;
    border-radius: 5px;
    background-color: #d6564f;
    color: #f0d8d9;
    font-family: 'Lato';
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
}

.form__submit:hover {
    cursor: pointer;
    background-color: #c6413a;
    transition: 0.2s ease;
}

.contact {
    text-align: left;
    width: 100%;
    max-width: 304px;
    min-width: 220px;
    padding-left: 30px;
}

.contact__title {
    color: #f0d8d9;
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 800;
    line-height: 17.86px;
    margin-bottom: 10px;
}

.contact__subtitle {
    color: #f0d8d9;
    font-family: 'Lato';
    font-size: 12px;
    font-weight: 400;
    line-height: 22.3px;
}

.contact__list {
    margin-top: 23px;
    list-style-position: inside;
        color: #f0d8d9;
}

.contact__list:after {
    color: #f0d8d9;

}
.contact__location {
    padding-left: 3px;
    color: #f0d8d9;
    font-family: 'Lato';
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    list-style-image: url(./assets/img/contactLocation.svg);
}

.contact__tel {
    padding-left: 1px;
    color: #f0d8d9;
    font-family: 'Lato';
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    list-style-image: url(./assets/img/contactPhone.svg);
    text-decoration: none;
}

.contact__email {
    color: #f0d8d9;
    font-family: 'Lato';
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    list-style-image: url(./assets/img/contactMail.svg);
    text-decoration: none;
}

.footer {
    height: 76px;
    background-color: #2d303a;
    display: flex;
    justify-content: space-between;
}

.logo {
    padding: 26px 41px;
    color: #666d89;
    font-family: 'Lato';
    font-size: 12px;
    font-weight: 400;
    line-height: 22.56px;
    letter-spacing: -0.1px;
}

.social {
    list-style: none;
    display: flex;
    margin-top: 24px;
    margin-right: 32px;
}

.social__item {
    margin-right: 8px;
    width: 32px;
    height: 32px;
    border: 1px solid #666d89;
    border-radius: 50%;
    text-align: center;
    padding: 6px;
    color: #666d89;
}

.social__item:hover {
    cursor: pointer;
    background-color: #666d89;

}

.screen-modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.2);
}

.screen-modal_hidden {
    display: none;
}

.modal {
    position: fixed;
    width: 250px;
    border-radius:5px;
    right: 0;
    background-color: #f06c64;
    margin: 50px;
    padding: 10px;
    z-index: 105;
}

.modal__title {
    width: 100%;
    height: 25px;
    border-radius: 5px;
    padding-left: 5px;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    background-color: #d6564f;
    color:#f0d8d9;
    text-align: left;
    line-height: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.modal__subject {
    width: 100%;
    height: 25px;
    margin-top: 5px;
    border-radius: 5px;
    padding-left: 5px;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    background-color: #d6564f;
    color:#f0d8d9;
    text-align: left;
    line-height: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.modal__description {
    width: 100%;
    height: 50px;
    margin-top: 5px;
    border-radius: 5px;
    padding-left: 5px;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    background-color: #d6564f;
    color:#f0d8d9;
    text-align: left;
    line-height: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.modal__btn {
    width: 100%;
    height: 25px;
    margin-top: 15px;
    border-radius: 5px;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    background-color: #d6564f;
    color:#f0d8d9;
    text-align: center;
    line-height: 26px;
}

.modal__btn:hover {
    cursor: pointer;
    background-color: #c6413a;
    transition: 0.2s ease;
}


@media only screen and (min-width: 768px) and (max-width: 1019px ) {
    body {
        max-width: 1019px;
        min-width: 768px;
    }

    .portfolio-example__img {
        min-width: 216px;
        min-height: 184px;
    }


}

@media only screen and (min-width: 375px) and (max-width: 767px ) {
    body {
        max-width: 767px;
        min-width: 375px;
    }

    .portfolio-example__img {
        min-width: 150px;
        min-height: 130px;
    }

    .section-services {
        padding-bottom: 5%;
    }

    .portfolio {
        padding: 9% 6%;
    }

    .portfolio-example {
        align-content: flex-start;
        max-height: 566px;
    }

    .aboutUs {
        padding-top: 11%;
    }

    .team {
        flex-wrap: wrap;
        justify-content: center;
    }

    .team-item {
        width: 100%;
    }

    .team-item:not(:last-child) {
        margin-bottom: 20px;
    }
    
    .get-quote {
        padding: 9% 6%;
    }
    
    .form-contact {
        display: block;
    }

    .form {
        width: 100%;
    }

    .contact {
        padding: 5% 0;
    }

    .footer {
        justify-content: center;
    }

    .footer .social {
        margin-right: 0;
    }

    .logo {
        display: none;
    }
}

@media only screen and (max-width: 374px) {
    
    .aboutUs {
        padding-top: 11%;
    }

    .team {
        flex-wrap: wrap;
        justify-content: center;
    }

    .team-item {
        width: 100%;
    }

    .team-item:not(:last-child) {
        margin-bottom: 20px;
    }

    
    .get-quote {
        padding: 9% 6%;
    }
    
    .form-contact {
        display: block;
    }

    .form {
        width: 100%;
    }

    .contact {
        padding: 5% 0;
    }

    .footer {
        justify-content: center;
    }

    .footer .social {
        margin-right: 0;
    }

    .logo {
        display: none;
    }
}
